{% extends "base.html" %}

{% block body %}
    <!-- Noostros -->
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
                <h1 class="display-4 mb-4"><span class="text-primary">Nuestros</span>  <span class="text-secondary">Inicios</span></h1>
                <h5 class="text-muted mb-3">Somos una ONG dedicada especialmente a los animales, su cuidado y encontrar los dueños de aquellos que se han perdido.</h5>
                <p class="mb-4">Empezamos en el año 2018, primero con una simple cuenta de Instagram y una cadena de difusión en Whatsapp. Luego de mucho esfuerzo y dedicación, gracias a los aportes y donaciones de todos ustedes, en el año 2022 creamos nuestra primer página web, en donde es cada vez más fácil tanto reportar mascotas encontradas como perdidas!</p>
                <p class="mb-4">Al ser una organización sin fines de lucro, nuestra única fuente de financiación son sus donaciones o aportes voluntarios de otras organismos de protección animal. Por eso, te invitamos a aportar a nuestra causa, ayudando a miles de perritos y gatitos en toda la ciudad!</p>            
                <a href="" class="btn btn-lg btn-primary mt-3 px-4">Donanos Clickeando Acá 🤍</a>
            </div>
            <div class="col-lg-5">
                <div class="row px-3">
                    <div class="col-12 p-0">
                        <img class="img-fluid w-100" src="../static/img/about-1.jpg" alt="">
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="../static/img/about-2.jpg" alt="">
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="../static/img/about-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Nosotros Fin -->

{% endblock %}