{% extends "base.html" %}


{% block body %}


    <!-- Desplazable del Inicio -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="../static/img/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h1 class="text-white mb-3 d-none d-sm-block">¿Perdiste a tu amiguito?</h3>
                            <h2 class="display-3 text-white mb-3">¡Encontra a tu mascota!</h1>
                            <h3 class="text-white mb-3 d-none d-sm-block">Subí el perfil de tu mascota a nuestra red, que almacena datos de miles de mascotas encontradas en el país ¡Tu mejor amigo puede estar entre ellas!</h5>
                            <a href="{{ url_for('perdido') }}" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4">¡Perdí mi Mascota!</a>
                            <a href="{{ url_for('about') }}" class="btn btn-lg btn-secondary mt-3 mt-md-4 px-4">Acerca de Nosotros</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="../static/img/carousel-2.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h1 class="text-white mb-3 d-none d-sm-block">¿Encontraste una mascota?</h3>
                            <h2 class="display-3 text-white mb-3">¡Ayudala a encontrar a su dueño!</h1>
                            <h3 class="text-white mb-3 d-none d-sm-block">Subí una ficha con sus datos y nosotros nos encargaremos de brindarle un hogar de tránsito hasta reencontrase con su amo.</h5>
                            <a href="{{ url_for('encontrado') }}" class="btn btn-lg btn-primary mt-3 mt-md-4 px-4">¡Encontre una mascota!</a>
                            <a href="{{ url_for('about') }}" class="btn btn-lg btn-secondary mt-3 mt-md-4 px-4">Acerca de Nosotros</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Fin del Inicio Deslizable -->

    <!-- Apartado Acerca de Nosotros -->
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
                <h4 class="text-secondary mb-3">Nosotros...</h4>
                <h1 class="display-4 mb-4"><span class="text-primary">Cuidado</span> y <span class="text-secondary">Contención</span></h1>
                <h5 class="text-muted mb-3">En Lost Pets nos encargamos de brindarle un lugar cálido y con cuidados de primera, hasta que nuestros animales vuelvan a su hogar.</h5>
                <p class="mb-4">Una vez que la mascota es reportada, nos comunicamos inmediatamente con el usuario que realizo la solicitud para coordinar una cita y llevarlo a un hogar de tránsito, donde con las mejores comodidades y compañia esperara por su amo.</p>
                <ul class="list-inline">
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>ÚNICOS en el Amba y alrededores</h5></li>
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Personal profesional a cargo</h5></li>
                    <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Atención al público 24/7</h5></li>
                </ul>
                <a href="{{ url_for('about') }}" class="btn btn-lg btn-primary mt-3 px-4">Leer más</a>
            </div>
            <div class="col-lg-5">
                <div class="row px-3">
                    <div class="col-12 p-0">
                        <img class="img-fluid w-100" src="../static/img/about-1.jpg" alt="Foto collage perros 1">
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="../static/img/about-2.jpg" alt="Foto collage perros 2">
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="../static/img/about-3.jpg" alt="Foto collage perros 3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin acerca de nosotros -->


    <!-- Cuidados especiales -->
    <div class="container-fluid bg-light pt-5">
        <div class="container py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h1 class="display-4 m-0"><span class="text-primary">Nuestros</span> Cuidados</h1>
            </div>
            <div class="row pb-3">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-house display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Hogares de tránsito</h3>
                        <p>Tenemos presencia en todos los barrios de CABA, que cada uno no solo se dedicá a recibir mascotas perdidas, sino que rehabilita mascotas callejeras.</p>
                        <a class="text-uppercase font-weight-bold" href="{{ url_for('mapa') }}">Ver en el Mapa</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-food display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Alimentación balanceada</h3>
                        <p>Mientras las mascotas se encuentren en nuestros establecimientos, recibirán alimentación balanceada acorde de la mejor cálidad.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-grooming display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Higiene</h3>
                        <p>En caso de recibirlos sucios, o con alguna herida, nosotros nos encargamos de higienizarlos apropiadamente y desinfectar la zona. afectada</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de Cuidados especiales -->


    <!-- Reencuentros -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid w-100" src="../static/img/feature.jpg" alt="Foto Reencuentro">
            </div>
            <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
                <h1 class="display-4 mb-4"><span class="text-primary">Expertos en</span> Reencuentros</h1>
                <p class="mb-4">Más de mil personas eligieron nuestro sitio para recuperar a su mascota, y volvieron a sus casas con la suya. No lo dudes más, reporta a tu amiguito perdido o ayuda a recuperar el de alguien más.</p>
                <div class="row py-2">
                    <div class="col-6">
                        <div class="d-flex align-items-center mb-4">
                            <h1 class="flaticon-cat font-weight-normal text-secondary m-0 mr-3"></h1>
                            <h5 class="text-truncate m-0">Gatos y Perros</h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex align-items-center mb-4">
                            <h1 class="flaticon-doctor font-weight-normal text-secondary m-0 mr-3"></h1>
                            <h5 class="text-truncate m-0">Personal Experto</h5>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex align-items-center">
                            <h1 class="flaticon-care font-weight-normal text-secondary m-0 mr-3"></h1>
                            <h5 class="text-truncate m-0">Cuidados especiales</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin reencuentros -->

    <!-- Mascotas Tendencia -->
    <div class="container-fluid bg-light my-5 p-0 py-5">
        <div class="container p-0 py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h1 class="display-4 m-0">Mascotas <span class="text-primary">Tendencia</span></h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="bg-white mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="../static/img/testimonial-1.jpg" style="width: 80px; height: 80px;" alt="Foto mascota 1">
                        <div class="ml-3">
                            <h5>Client Name</h5>
                            <i>Profession</i>
                        </div>
                    </div>
                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita</p>
                </div>
                <div class="bg-white mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="../static/img/testimonial-2.jpg" style="width: 80px; height: 80px;" alt="Foto mascota 2">
                        <div class="ml-3">
                            <h5>Client Name</h5>
                            <i>Profession</i>
                        </div>
                    </div>
                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita</p>
                </div>
                <div class="bg-white mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="../static/img/testimonial-3.jpg" style="width: 80px; height: 80px;" alt="Foto mascota 3">
                        <div class="ml-3">
                            <h5>Client Name</h5>
                            <i>Profession</i>
                        </div>
                    </div>
                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita</p>
                </div>
                <div class="bg-white mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="../static/img/testimonial-4.jpg" style="width: 80px; height: 80px;" alt="Foto mascota 4">
                        <div class="ml-3">
                            <h5>Client Name</h5>
                            <i>Profession</i>
                        </div>
                    </div>
                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin mascotas tendencia -->

{% endblock %}