{% extends "base.html" %}

{% block body %}
    <div id="map" style="height: 500px; width: 100%;"></div>
    <!-- Incluir OpenLayers (visor de mapas) -->
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script>
    function iniciarMap() {
        // Crear el mapa
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([-58.368615288628,-34.617826567636]),
                zoom: 18
            })
        });

        // Crear un estilo para los marcadores
        var markerStyle = new ol.style.Style({
            image: new ol.style.Circle({
                radius: 6, // Tamaño del círculo
                fill: new ol.style.Fill({color: 'red'}), // Color de relleno
                stroke: new ol.style.Stroke({
                    color: 'black', // Color del borde
                    width: 1 // Ancho del borde
                })
            })
        });

        // Función para agregar marcadores al mapa
        function agregarMarcadores(coordenadas) {
            coordenadas.forEach(function(coord) {
                var marcador = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([coord.altitud, coord.latitud]))
                });

                // Aplicar el estilo al marcador
                marcador.setStyle(markerStyle);

                var capaMarcadores = new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: [marcador]
                    })
                });

                map.addLayer(capaMarcadores);
            });
        }

        // Obtener coordenadas de la API y agregar marcadores
        fetch('/api/coordenadas')
            .then(response => response.json())
            .then(data => {
                agregarMarcadores(data.map(coord => ({latitud: coord.latitud, altitud: coord.altitud})));
            })
            .catch(error => {
                console.error('Error al obtener las coordenadas:', error);
            });
    }

    // Inicializar el mapa cuando la página haya cargado completamente
    window.onload = iniciarMap;
    </script>
{% endblock %}


