{% extends "base.html" %}

{% block body %}
    <div id="map" style="height: 500px; width: 100%;"></div>
    <!-- Incluir OpenLayers (visor de mapas) -->
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script>
    function iniciarMap() {
        // Crear el mapa
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([-58.4127763, -34.5865167]),
                zoom: 15
            })
        });

        // Función para agregar marcadores al mapa
        function agregarMarcadores(coordenadas) {
            coordenadas.forEach(function(coord) {
                var marcador = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([coord.altitud, coord.latitud]))
                });

                var capaMarcadores = new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: [marcador]
                    })
                });

                map.addLayer(capaMarcadores);
            });
        }
    }

    // Inicializar el mapa cuando la página haya cargado completamente
    window.onload = iniciarMap;
    </script>
{% endblock %}

