{% extends "base.html" %}


{% block body %}
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="d-flex flex-column text-center mb-5 pt-5">
            <h4 class="text-secondary mb-3">¡Te ayudaremos a encontrar a tu mascota</h4>
            <h1 class="display-4 m-0">¿Perdiste a tu mascota? <span class="text-primary">¡Déjanos tus datos!</span></h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">

                        <div class="title-label-datos">
                            <label for="datos-informante" class="label-formulario"><h5>Tus datos:</label></h5>
                        </div>
                        
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="fname" placeholder="Nombre completo" required="required" data-validation-required-message="Por favor ingrese su nombre" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="fmail" placeholder="Mail de contacto" required="required" data-validation-required-message="Por favor ingrese número de teléfono" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="ftel" placeholder="Teléfono/celular (cod. área + número)" required="required" data-validation-required-message="Por favor ingrese mail" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="fcity" placeholder="Barrio donde resides" required="required" data-validation-required-message="Por favor ingrese su barrio" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="title-label-datos">
                            <label for="datos-mascota-encontrada" class="label-formulario"><h5>Datos de la mascota encontrada:</label></h5>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="fanimal" placeholder="Animal" required="required" data-validation-required-message="Por favor ingrese tipo de animal" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="fpetname" placeholder="Nombre" required="required" data-validation-required-message="Ingrese el nombre del animal" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="ftype" placeholder="Raza" required="required" data-validation-required-message="Por favor especificar raza" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="fsex" placeholder="Sexo" required="required" data-validation-required-message="Por favor especificar sexo" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="fcolor" placeholder="Color (pelaje/escamas/plumaje/etc.)" required="required" data-validation-required-message="Por favor especificar color" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="fsize" placeholder="Tamaño (Chico/Mediano/Grande)" required="required" data-validation-required-message="Por favor especificar Tamaño" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <textarea class="form-control p-4" rows="6" id="fcomentarios" placeholder="Comentarios (dé información adicional)" required="required" data-validation-required-message="No exceder las 500 palabras"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>

                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">¡Gracias por tu ayuda!</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Contact End -->


{% endblock %}