{% extends "base.html" %}


{% block body %}
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="d-flex flex-column text-center mb-5 pt-5">
            <h4 class="text-secondary mb-3">¡Contactemos al dueño!</h4>
            <h1 class="display-4 m-0">¡Tu ayuda es crucial, <span class="text-primary">déjanos tus datos!</span></h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" action="{{url_for('encontrado', _external=True)}}" method="post">

                        <div class="title-label-datos">
                            <label for="datos-informante" class="label-formulario"><h5>Tus datos:</h5></label>
                        </div>
                        
                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="fname" maxlength="50" placeholder="Nombre completo" required="required" data-validation-required-message="Por favor ingrese su nombre" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="ftel" maxlength="20" placeholder="Teléfono/Celular (cod. área + número)" required="required" data-validation-required-message="Por favor ingrese número de teléfono" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control p-4" name="fmail" maxlength="40" placeholder="Mail de contacto" required="required" data-validation-required-message="Por favor ingrese mail" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="title-label-datos">
                            <label for="datos-mascota-encontrada" class="label-formulario"><h5>Datos de la mascota encontrada:</h5></label>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="fanimal" maxlength="20" placeholder="Animal" required="required" data-validation-required-message="Por favor ingrese tipo de animal" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="ftype" maxlength="20" placeholder="Raza" required="required" data-validation-required-message="Por favor especificar raza" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <select name="fsex" class="opciones" required>
                                <option value="" disabled selected>Seleccione sexo</option>
                                <option value="macho">Macho</option>
                                <option value="hembra">Hembra</option>
                                </select>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="fcolor" maxlength="20" placeholder="Color" required="required" data-validation-required-message="Por favor especificar color" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <select name="fsize" class="opciones" required>
                                <option value="" disabled selected>Seleccione tamaño</option>
                                <option value="grande">Grande</option>
                                <option value="mediano">Mediano</option>
                                <option value="chico">Chico</option>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="fcity" maxlength="30" placeholder="Barrio donde encontró a la mascota" required="required" data-validation-required-message="Por favor ingrese un barrio donde encontró a la mascota" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="file" name="ffoto" class="custom-file-upload"/>
                        </div>
<br>

                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">¡Gracias por tu ayuda!</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Contact End -->


{% endblock %}