{% extends "base.html" %}


{% block body %}
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="d-flex flex-column text-center mb-5 pt-5">
            <h4 class="text-secondary mb-3">¡Te ayudaremos a encontrar a tu mascota</h4>
            <h1 class="display-4 m-0">¿Perdiste a tu mascota? <span class="text-primary">¡Déjanos tus datos!</span></h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" action="{{url_for('perdido', _external=True)}}" method="post" enctype="multipart/form-data">

                        <div class="title-label-datos">
                            <label for="datos-informante" class="label-formulario"><h5>Tus datos:</label></h5>
                        </div>
                        
                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="fname" maxlength="50" placeholder="Nombre completo" required="required" data-validation-required-message="Por favor ingrese su nombre" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="email" class="form-control p-4" name="fmail" maxlength="40" placeholder="Mail de contacto" required="required" data-validation-required-message="Por favor ingrese número de teléfono" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="ftel" maxlength="20" placeholder="Teléfono/celular (cod. área + número)" required="required" data-validation-required-message="Por favor ingrese mail" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="fcity" maxlength="30" placeholder="Barrio donde resides" required="required" data-validation-required-message="Por favor ingrese su barrio" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="title-label-datos">
                            <label for="datos-mascota-encontrada" class="label-formulario"><h5>Datos de la mascota perdida:</label></h5>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="fanimal" maxlength="20" placeholder="Animal" required="required" data-validation-required-message="Por favor ingrese tipo de animal" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="fpetname" maxlength="20" placeholder="Nombre" required="required" data-validation-required-message="Ingrese el nombre del animal" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="ftype" placeholder="Raza" maxlength="20" required="required" data-validation-required-message="Por favor especificar raza" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                        <select name="fsex" class="opciones">
                        <option value="" disabled selected>Seleccione sexo</option>
                        <option value="macho">Macho</option>
                        <option value="hembra">Hembra</option>

                        </select>
                        </div>

                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="fcolor" maxlength="20" placeholder="Color" required="required" data-validation-required-message="Por favor especificar color" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <select name="fsize" class="opciones">
                            <option value="" disabled selected>Seleccione tamaño</option>
                            <option value="grande">Grande</option>
                            <option value="mediano">Mediano</option>
                            <option value="chico">Chico</option>
                        
                         <div class="control-group">
                            <input type="text" class="form-control p-4" name="fcity" maxlength="30" placeholder="Barrio donde encontró a la mascota" required="required" data-validation-required-message="Por favor ingrese un barrio donde encontró a la mascota" />
                            <p class="help-block text-danger"></p>
                        </div>    
                        <div class="control-group">
                            <input type="file" name="ffoto" class="custom-file-upload"/>
                        </div>
<br>
                        <div class="control-group">
                                <div class="container p-0 py-5">
                                    <h1 class="display-4 m-0 text-center">Marca en el mapa la mascota <span class="text-primary">perdida</span></h1>
                                </div>
                                <div class="text-center">
                                    <p class="texto1">Haga clic en el mapa para marcar el lugar donde perdio la mascota.</p>
                                </div>
                                <div id="map" style="height: 500px; width: 100% ; margin: auto ; margin-bottom: 5%;"></div>
                                <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
                                <script src="{{ url_for('static', filename='js/mapa-formulario.js') }}"></script>
                        </div>
                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">¡Gracias por tu ayuda!</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Contact End -->
    <div class="control-group container-fluid my-5 p-0 py-5">
        <div class="container p-0 py-5">
            <h1 class="display-4 m-0 text-center">Mascotas <span class="text-primary">perdidas</span></h1>
        </div> 
        <div class="owl-carousel testimonial-carousel">

            {% for mascota in data %}
            <div class="separacion">
                <div class="listilla">
                    <div class="ml-3">
                        <h1><span class="texto1">Se ha reportado una</span> mascota perdida</h1>
                        <div class="lista-animales">
                            <ul>
                                <h4>
                                    <li><span class="texto1">Mail de contacto:</span> {{ mascota.mail_duenio }}</li>
                                    <li><span class="texto1">Número de contacto:</span> {{ mascota.telefono_duenio }}</li>
                                    <li><span class="texto1">Barrio donde vive:</span> {{ mascota.barrio }}</li>
                                    <li><span class="texto1">Animal perdido:</span> {{ mascota.animal }}</li>
                                    <li><span class="texto1">Nombre de la mascota:</span> {{ mascota.nombre }}</li>
                                    <li><span class="texto1">Tipo:</span> {{ mascota.raza }}</li>
                                    <li><span class="texto1">Sexo:</span> {{ mascota.sexo }}</li>
                                    <li><span class="texto1">Color:</span> {{ mascota.color }}</li>
                                    <li><span class="texto1">Tamaño:</span> {{ mascota.tamanio }}</li>
                                    <br>
                                    {% if  mascota.id_mascota in fotos %}
                                        <div class="cont-carrusel" style="display: flex; justify-content: center; align-items: center; margin-top: 150px">
                                            <img src="{{ url_for('static', filename='pets/perdidos/' + fotos[mascota.id_mascota]) }}" class="imagen" alt="imagen de mascota" >
                                        </div>
                                    {% else %}
                                        <span class="texto1">No hay imagen disponible</span>
                                    {% endif %}

                                </h4>
                                <br>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- Contact End -->


{% endblock %}